footer {
    background-color: rgb(17, 24, 39);
    padding-bottom: 31px;

    .container {
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 31px;

            .contact {
               
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 7px;

                .cicryp-cnt {
                   
                    width: 139px;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .facebook {
                    display: flex;
                    align-items: flex-start;
                    gap: 6px;
                    padding-left: 5px;

                    img {
                       
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        object-position: center;
                    }

                    p {
                      
                        color: #9CA3AF;
                        font-weight: 500;
                        font-size: 15px;
                        font-family: "Poppins", sans-serif;
                        cursor: pointer;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 18px;

                h2 {
                    color: #9CA3AF;
                    font-weight: 600;
                    font-size: 15px;
                    font-family: "Poppins", sans-serif;
                }

                li {
                    color: #9CA3AF;
                    font-weight: 500;
                    font-size: 14px;
                    font-family: "Poppins", sans-serif;
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: #fff;
                    }
                }

                .api {
                    display: flex;
                    align-items: center;
                    width: 182px;
                    justify-content: space-between;
                   li{
                    color: #9CA3AF;
                    font-weight: 500;
                    font-size: 14px;
                    font-family: "Poppins", sans-serif;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: #fff;
                    }
                   }
                   a{
                    width: 34px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid gray;
                    .bi-arrow-up{
                        color: #9CA3AF;
                        font-size: 19px;
                    }
                   }

                   

                  
                }
            }
        }
    }
}