main {
    #banner {
        background-color: rgb(17, 24, 39);
        padding-top: 17px;
        height: 544px;

        .collec-img {
            position: relative;

            img {
                width: 100%;
                height: 285px;
                object-fit: cover;
                object-position: center;
            }



            .awesome {
                // @media screen and (max-width: 768px) {
                //     display: flex;
                //     flex-direction: column;
                //     width: 317px;
                // }

                background-color: rgb(17, 24, 39);
                border: 1px solid #6b7280;
                border-radius: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1221px;
                position: absolute;
                top: 67%;
                left: 11%;

                .robot-and-icon {
                    // @media screen and (max-width: 768px) {
                    //     width: 244px;
                    // }

                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 304px;
                    margin: 23px;

                    img {
                        // @media screen and (max-width: 768px) {
                        //     width: 147px;
                        //     height: 147px;
                        // }

                        width: 250px;
                        height: 256px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 24px;
                    }

                    .icons {
                        // @media screen and (max-width: 768px) {
                        //     width: 172px;
                        //     display: flex;
                        //     align-items: center;
                        //     gap: 10px;
                        //     justify-content: flex-start;
                        // }

                        display: flex;
                        width: 248px;
                        align-items: center;
                        justify-content: center;
                        gap: 31px;

                        .icn1 {
                            // @media screen and (max-width: 768px) {
                            //     display: flex;
                            //     gap: 8px;
                            // }

                            display: flex;
                            gap: 21px;

                            i {
                                // @media screen and (max-width: 768px) {
                                //     font-size: 15px;
                                //     width: 25px;
                                //     height: 25px;
                                //     display: flex;
                                //     align-items: center;
                                //     justify-content: center;
                                // }

                                color: rgb(209, 213, 219);
                                font-size: 23px;
                                width: 37px;
                                height: 37px;
                                text-align: center;
                                background-color: #1F2937;
                                border-radius: 50%;
                                cursor: pointer;
                                // transition: .5s ease-in-out;
                                filter: brightness(1);

                                &:hover {
                                    filter: brightness(1.4);
                                }
                            }
                        }

                        .icn2 {
                            // @media screen and (max-width: 768px) {
                            //     display: flex;
                            //     gap: 8px;
                            // }

                            display: flex;
                            gap: 25px;

                            i {
                                // @media screen and (max-width: 768px) {
                                //     font-size: 15px;
                                //     width: 25px;
                                //     height: 25px;
                                //     display: flex;
                                //     align-items: center;
                                //     justify-content: center;
                                // }

                                color: rgb(209, 213, 219);
                                font-size: 23px;
                                width: 37px;
                                height: 37px;
                                text-align: center;
                                background-color: #1F2937;
                                border-radius: 50%;
                                cursor: pointer;
                                // transition: .3s ease-in-out;
                                filter: brightness(1);

                                &:hover {
                                    filter: brightness(1.4);
                                }
                            }
                        }
                    }
                }

                .awesome-text {
                    // @media screen and (max-width: 768px) {
                    //     display: flex;
                    //     flex-direction: column;
                    //     gap: 0px;
                    //     justify-content: center;
                    // }

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 22px;

                    .nft {
                        // @media screen and (max-width: 768px) {
                        //     display: flex;
                        //     flex-direction: column;
                        //     gap: 2px;
                        //     width: 244px;
                        // }

                        width: 643px;
                        margin: 23px;
                        display: flex;
                        flex-direction: column;
                        gap: 13px;

                        h1 {
                            // @media screen and (max-width: 768px) {
                            //     font-size: 18px;
                            // }

                            color: #fff;
                            font-weight: 500;
                            font-size: 34px;
                            font-family: 'Poppins',
                            sans-serif;
                        }

                        h2 {
                            // @media screen and (max-width: 768px) {
                            //     font-size: 12px;
                            // }

                            color: #9CA3AF;
                            font-size: 15px;
                            font-weight: 400;
                            font-family: 'Poppins',
                            sans-serif;
                        }
                    }

                    .floor {
                        // @media screen and (max-width: 768px) {
                        //     display: flex;
                        //     align-items: center;
                        //     gap: 5px;
                        //     flex-wrap: wrap;
                        //     justify-content: center;
                        // }

                        display: flex;
                        align-items: center;
                        gap: 30px;

                        .floor1 {
                            // @media screen and (max-width: 768px) {
                            //     width: 104px;
                            // }

                            background-color: rgb(17, 24, 39);
                            border: 1px solid #1F2937;
                            border-radius: 20px;
                            width: 190px;
                            text-align: center;
                            padding: 20px;

                            p {
                                // @media screen and (max-width: 768px) {
                                //     font-size: 10px;
                                //     margin-bottom: 4px;
                                // }

                                color: #9CA3AF;
                                font-size: 15px;
                                font-weight: 400;
                                font-family: 'Poppins',
                                sans-serif;
                                margin-bottom: 24px;
                            }

                            h4 {
                                // @media screen and (max-width: 768px){
                                //     font-size: 10px;
                                // }
                                color: #E5E7EB;
                                font-weight: 500;
                                font-size: 23px;
                                font-family: "Poppins", sans-serif;
                            }

                            h6 {
                                // @media screen and (max-width: 768px){
                                //     font-size: 10px;
                                // }
                                color: #22C55E;
                                font-weight: 300;
                                font-size: 14px;
                                font-family: 'Poppins', sans-serif;
                            }
                        }
                    }
                }
            }


        }
    }

    #inner {
        background-color: rgb(17, 24, 39);

        .container {
            .row {
                .buttons {
                    @media screen and (max-width: 768px) {
                        padding: 0;
                    }

                    display: flex;
                    gap: 13px;
                    justify-content: left;
                    padding-left: 31px;

                    .click {
                        button {
                            background-color: #f0f9ff;
                            display: flex;
                            align-items: baseline;
                            gap: 10px;
                            padding: 5px;
                            height: 40px;
                            border-radius: 32px;
                            border: 1px solid rgb(14, 165, 233);
                            cursor: pointer;
                            width: 200px;
                            justify-content: center;

                            .bi-wallet2 {
                                background-color: #f0f9ff;
                                font-size: 13px;
                            }

                            p {
                                background-color: #f0f9ff;
                                font-family: 'Poppins', sans-serif;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            .bi-x {
                                background-color: #f0f9ff;
                            }
                        }


                    }

                    .click5 {
                        @media screen and (max-width: 768px) {
                            display: none;
                        }

                        button {

                            background-color: #f0f9ff;
                            display: flex;
                            align-items: baseline;
                            gap: 10px;
                            padding: 5px;
                            height: 40px;
                            border-radius: 32px;
                            border: 1px solid rgb(14, 165, 233);
                            cursor: pointer;
                            width: 200px;
                            justify-content: center;

                            .bi-wallet2 {
                                background-color: #f0f9ff;
                                font-size: 13px;
                            }

                            p {
                                background-color: #f0f9ff;
                                font-family: 'Poppins', sans-serif;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            .bi-x {
                                background-color: #f0f9ff;
                            }
                        }


                    }

                    .click1 {
                        button {
                            border: 1px solid #9CA3AF;
                            display: flex;
                            align-items: baseline;
                            gap: 12px;
                            padding: 5px;
                            height: 40px;
                            border-radius: 32px;
                            width: 155px;
                            justify-content: center;
                            cursor: pointer;
                            background-color: rgb(17, 24, 39);


                            .bi-image {
                                color: #9CA3AF;
                            }

                            p {
                                color: #9CA3AF;
                                font-size: 15px;
                                font-weight: 400;
                                font-family: 'Poppins', sans-serif;
                            }

                            .fa-chevron-down {
                                color: #9CA3AF;
                            }
                        }
                    }

                    .click2 {
                        @media screen and (max-width: 768px) {
                            display: none;
                        }

                        button {
                            border: 1px solid #9CA3AF;
                            display: flex;
                            align-items: baseline;
                            gap: 12px;
                            padding: 5px;
                            height: 40px;
                            border-radius: 32px;
                            width: 155px;
                            justify-content: center;
                            cursor: pointer;
                            background-color: rgb(17, 24, 39);


                            .bi-image {
                                color: #9CA3AF;
                            }

                            p {
                                color: #9CA3AF;
                                font-size: 15px;
                                font-weight: 400;
                                font-family: 'Poppins', sans-serif;
                            }

                            .fa-chevron-down {
                                color: #9CA3AF;
                            }
                        }
                    }
                }
            }
        }
    }

    #group {
        background-color: rgb(17, 24, 39);

        .container {
            .row {
                display: flex;
                align-items: center;
                justify-content: center;

                .cards {
                    overflow: hidden;
                    border-radius: 33px;
                    backdrop-filter: brightness(1);
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:hover {
                        border-radius: 33px;
                        backdrop-filter: brightness(1.3);
                    }

                    .cards-top {
                        height: 319px;
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        border-radius: 33px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 33px;
                            transition: .3s ease-in-out;
                            transform: scale(1);
                            cursor: pointer;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        .img-pos {
                            position: absolute;
                            top: 3px;
                            display: flex;
                            width: 270px;
                            align-items: center;
                            background-color: transparent;
                            left: 12px;
                            justify-content: space-between;
                            margin: 2px;

                            .bi-camera {
                                color: #fff;
                                font-size: 23px;
                                width: 36px;
                                height: 36px;
                                background-color: rgba(0, 0, 0, .5);
                                border-radius: 50%;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .bi-heart-fill {
                                width: 36px;
                                height: 36px;
                                color: rgb(239, 68, 68);
                                background-color: rgba(0, 0, 0, .5);
                                border-radius: 50%;
                                font-size: 23px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }
                        }
                    }

                    .card-bottom {
                        .bottom1 {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 12px;

                            .four {
                                width: 19px;
                                height: 19px;
                                display: flex;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center;
                                    border-radius: 50%;
                                }
                            }

                            h2 {
                                color: #9CA3AF;
                                font-family: 'Poppins', sans-serif;
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }

                        h4 {
                            color: #E5E7EB;
                            font-family: 'Poppins', sans-serif;
                            font-size: 20px;
                            font-weight: 500;
                            padding-left: 9px;
                            border-bottom: 1px solid #9CA3AF;
                            padding-bottom: 14px;
                        }

                        .bottom2 {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 15px;
                            padding-top: 10px;

                            button {
                                color: rgb(34 197 94);
                                border: 1px solid rgb(34 197 94);
                                border-radius: 8px;
                                font-family: 'Poppins', sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                padding: 4px;
                                background-color: rgb(17, 24, 39);
                            }

                            .clock {
                                display: flex;
                                gap: 8px;

                                .bi-clock {
                                    color: #9CA3AF;
                                }

                                h6 {
                                    color: #9CA3AF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #reload {
        background-color: rgb(17, 24, 39);

        .container {
            .row {
                .reload-num {
                    @media screen and (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }

                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    padding-bottom: 38px;

                    .numbr {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .dif {
                            color: #E5E7EB;
                            width: 44px;
                            height: 44px;
                            background-color: rgb(2, 132, 199);
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                        }

                        .same {
                            color: #9CA3AF;
                            width: 44px;
                            height: 44px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background-color: rgb(17, 24, 39);
                            border: 1px solid #9CA3AF;
                            transition: .3s ease-in-out;
                            cursor: pointer;
                            filter: opacity(1);

                            &:hover {
                                filter: brightness(1.3);
                            }
                        }
                    }

                    .numbr-button {
                        .more {
                            background-color: rgb(2, 132, 199);
                            color: rgb(249, 250, 251);
                            padding: 9px 24px;
                            font-size: 18px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 500;
                            border-radius: 34px;
                            cursor: pointer;
                            transition: .3s ease-in-out;

                            &:hover {
                                filter: opacity(0.7);
                            }
                        }
                    }
                }
            }
        }
    }

    #creative {
        background-color: rgb(9 15 26);

        .container {
            .row {
                .creative-txt {
                    @media screen and (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }

                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;

                    .collection {

                        .last {
                            display: flex;
                            align-items: baseline;
                            gap: 7px;
                            margin-bottom: -13px;

                            p {
                                @media screen and (max-width: 768px) {
                                    font-size: 23px;
                                }

                                font-family: 'Poppins',
                                sans-serif;
                                color: #F9FAFB;
                                font-size: 35px;
                                font-weight: 500;
                            }

                            h3 {
                                @media screen and (max-width: 768px) {
                                    font-size: 20px;
                                }

                                color: #22C55E;
                                font-family: 'Poppins',
                                sans-serif;
                                font-weight: 500;
                                font-size: 33px;
                            }
                        }

                        h5 {
                            @media screen and (max-width: 768px) {
                                font-size: 15px;

                            }

                            color: #9CA3AF;
                            font-weight: 500;
                            font-size: 20px;
                            font-family: 'Poppins',
                            sans-serif;
                        }
                    }

                    .arrow {

                        display: flex;
                        align-items: center;
                        gap: 9px;

                        .bi-arrow-left {
                            color: #9CA3AF;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                border: 1px solid #9CA3AF;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .bi-arrow-right {
                            color: #9CA3AF;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                border: 1px solid #9CA3AF;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            .row {
                .cooper {
                    width: 100%;
                    height: 402px;
                    margin-bottom: 22px;
                    position: relative;

                    .uns-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 35px;
                        cursor: pointer;
                        transition: .3s ease-in-out;
                        filter: opacity(1);

                        &:hover {
                            filter: opacity(0.6);
                        }
                    }

                    .cooper-pos {
                        position: absolute;
                        top: 56%;
                        left: 5%;
                        display: flex;
                        flex-direction: column;
                        gap: 7px;

                        .jane-img {
                            display: flex;
                            align-items: revert;
                            gap: 14px;

                            img {
                                width: 31px;
                                height: 31px;
                                object-fit: contain;
                                object-position: center;
                                border-radius: 50%;
                            }

                            p {
                                font-family: "Poppins", sans-serif;
                                color: #F9FAFB;
                                font-weight: 400;
                                font-size: 12px;
                            }

                            img {
                                width: 23px;
                                height: 23px;
                                object-fit: contain;
                                object-position: center;
                            }
                        }

                        h4 {
                            font-family: "Poppins", sans-serif;
                            color: #F9FAFB;
                            font-size: 25px;
                            font-weight: 600;
                        }

                        .coop-img {
                            display: flex;
                            gap: 13px;

                            .mount {
                                @media screen and (max-width: 768px) {
                                    width: 100px;
                                    height: 80px;
                                }

                                width: 110px;
                                height: 83px;

                                object-fit: cover;

                                object-position: center;
                                border-radius: 9px;

                            }
                        }
                    }

                }
            }
        }
    }

    #crypto {
        background-color: rgb(17, 24, 39);
        border-bottom: 1px solid dimgray;

        padding-bottom: 31px;

        .container {
            .row {
                display: flex;
                align-items: center;

                .earn {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    .cicryp-logo {
                        width: 138px;
                        height: 38px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }

                    h2 {
                        font-family: "Poppins", sans-serif;
                        color: #F9FAFB;
                        font-size: 51px;
                        font-weight: 600;
                    }

                    p {
                        color: #9CA3AF;
                        font-weight: 500;
                        font-size: 17px;
                        font-family: "Poppins", sans-serif;
                    }

                    .cicryp-button {
                        .create {
                            background-color: rgb(2, 132, 199);
                            color: rgb(249, 250, 251);
                            padding: 9px 24px;
                            font-size: 18px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 500;
                            border-radius: 34px;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            filter: opacity(1);

                            &:hover {
                                filter: opacity(0.5);
                            }
                        }

                        .create1 {
                            background-color: transparent;
                            padding: 9px 24px;
                            font-size: 18px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 500;
                            border-radius: 34px;
                            cursor: pointer;
                            color: #9CA3AF;
                            border: 1px solid #9CA3AF;
                            transition: .3s ease-in-out;
                            filter: opacity(1);

                            &:hover {
                                filter: opacity(0.5);
                            }
                        }
                    }
                }

                .coin-img {
                    @media screen and (max-width: 768px) {
                        width: 293px;
                        height: 212px;
                    }

                    width: 689px;
                    height: 489px;


                    img {
                        width: 100%;
                        object-position: center;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

}